

.default{
    display:block;
    margin-left: auto;  
    margin-right: auto;
    width:60%;
    height:132px;
  
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    height:50%;
   
}

img:hover{
    cursor:pointer;
}

@media only screen and (min-width: 600px){
 
    .container{
      width:15%;
      height:150px;
      margin: 5px 10px;
      margin-top:10px;
    }

    img{
        width:50%;
        height:60%;
    }
  
  }
  