

.default{
    display:block;
    margin-left: auto;  
    margin-right: auto;
    width:60%;
    height:132px;
  
}

img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height:100%;
   
}

img:hover{
    cursor:pointer;
}

